<% @posts.each do |post| %>

  <div class="container-fluid post-wrapper bg-gray">
    <p class="post-title slide"><b><%= link_to post.title, post %></b>
    <span class="date"><%= post.created_at.strftime("%B, %d, %Y") %></span>
    <p>   
    <p class="post-subtitle slide"><%= post.subtitle %>  <a href="<%= post_path(post) %>"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a></p>
  </div>

<% end %>