    <!-- Footer -->
    <footer class="container-fluid bg-gray">
      <nav>
        <small>Developed with love, by me.</small>
        <ul>
          <li><a href="#about">about</a></li>
          <li><a href="#projects">projects</a></li>
          <li><a href="#now">now</a></li>
          <li><a href="#contact">contact</a></li>
          <li><a href="#">blog</a></li>
        </ul>
      </nav>
    </footer>